<span style='color: #000'>83 frames</span>	<span style='color: #900'>5,888 KB</span>	<span style='color: #090'>159.66 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />